<?xml version="1.0"?>
<config>
    <modules>
        <LCB_CatalogWebP>
            <version>0.3.0</version>
        </LCB_CatalogWebP>
    </modules>
    <global>
        <helpers>
            <lcb_catalogwebp>
                <class>LCB_CatalogWebP_Helper</class>
            </lcb_catalogwebp>
        </helpers>
        <models>
            <lcb_catalogwebp>
                <class>LCB_CatalogWebP_Model</class>
            </lcb_catalogwebp>
        </models>        
        <events>
            <catalog_product_save_after>
                <observers>
                    <lcb_catalog_webp_product_save_after>
                        <class>lcb_catalogwebp/observer</class>
                        <method>onCatalogProductSaveAfter</method>
                    </lcb_catalog_webp_product_save_after>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
    <frontend>
        <events>
            <catalog_product_load_after>
                <observers>
                    <lcb_catalog_webp_product_load_after>
                        <class>lcb_catalogwebp/observer</class>
                        <method>onCatalogProductLoadAfter</method>
                    </lcb_catalog_webp_product_load_after>
                </observers>
            </catalog_product_load_after>
            <catalog_product_collection_load_after>
                <observers>
                    <lcb_catalog_webp_product_collection_load_after>
                        <class>lcb_catalogwebp/observer</class>
                        <method>onCatalogProductCollectionLoadAfter</method>
                    </lcb_catalog_webp_product_collection_load_after>
                </observers>
            </catalog_product_collection_load_after>            
        </events>
    </frontend>
</config>
